nltk==3.4.5
numpy==1.18.1
ChatterBot==1.0.5
gensim==3.8.1
Requests==2.22.0
scikit_learn==0.22.1
flask==1.1.1
chatterbot==1.0.5
chatterbot-corpus==1.2.0

pyyaml>=5.2 # not directly required, pinned by Snyk to avoid a vulnerability